In [1]:
import mysql.connector as connector

In [3]:
#create connection to the littlelemondb
connection = connector.connect(user = "Capstone", password = "GV05ns12", db = "littlelemondb")

In [4]:
cursor = connection.cursor()

In [8]:
#query the database to show all tables within the database 
show_tables_query = "SHOW tables" 
cursor.execute(show_tables_query)
results = cursor.fetchall()
for res in results:
    print("Table name is: ", res[0])

Table name is:  audits
Table name is:  bookings
Table name is:  customers
Table name is:  employees
Table name is:  menu
Table name is:  menuitems
Table name is:  orders
Table name is:  orderstatus
Table name is:  ordersview

In [12]:
#return the full name and contact details, for every customer that has placed an order greater than $60.

query = """
SELECT customers.first_name
	,customers.last_name
	,customers.contact_num
FROM customers
INNER JOIN bookings ON customers.customer_id = bookings.customer_id
INNER JOIN orders ON bookings.booking_id = orders.booking_id
WHERE orders.cost > 60;
"""
cursor.execute(query)
results = cursor.fetchall()

print(cursor.column_names)
for res in results:
    print(res)

('first_name', 'last_name', 'contact_num')
('Anna', 'Iversen', '99999')
('Vanessa', 'McCarthy', '33333')